@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-principal: rgb(23, 135, 227); 
    --cor-secundaria: rgb(89, 0, 255); 
    --cor-destaque: rgb(0, 234, 255); 
}

body{
    font-family: Roboto
    color: var (var(--cor-principal))
    background-color: var (cor);
}

h1,h2,h5